# =========================
# Maven build directory
# =========================
target/

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# System pliki
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Java compiled classes
*.class

# Build artifacts
*.jar
*.war
*.ear

# Backup and temporary files
*~
*.swp
*.bak
